* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #00CCFF; */
  color: white;
}

body,
html {
  height: 100%;
  color: white;
}

.background-image {
  background-image: url("/hse-vector.jpg");
  background-size: cover; /* This makes the image cover the entire screen */
  background-position: center; /* Centers the image */
  height: 100vh; /* Full viewport height */
  display: flex;
  color: white;
  justify-content: flex-start; /* Aligns content to the start of the flex container */
  align-items: flex-start; /* Aligns content to the start of the flex container */
}

.text-content {
  margin-top: 33vh; /* Starts the text about 1/3 of the way down */
  margin-left: 3%; /* Adjusts the text to the left third of the screen */
  color: white; /* Changes the text color for better visibility, change if needed */
  font-family: Arial, sans-serif; /* Example font family */
}
