<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="icon" href="data:;base64,iVBORw0KGgo="> -->
  <link rel="stylesheet" href="/styles.css">
  <title>Home Page</title>
</head>
<body>
  <div class="background-image">  
    <div class="form-container">  
  <% if (user) { %>
    <h1>Welcome, <%= user.username %>!</h1>
    <h2>Would you like to do:</h2>
    <p><br>
      <div class="button-container">
        <form action="/goodCatch">
          <button type="submit">Create</button>
        </form>
        <form action="/goodCatch/delete">
          <button type="submit">Delete</button>
        </form>
        <form action="/goodCatch/search">
          <button type="submit">Search/Update</button>
        </form>
      </div>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <% } else { %>
    <h1><em>HSE Reporting Tool<br><br>Welcome</h1><br><br>
    <h2>Please Select<br><br>
      <div class="auth-buttons"> 
      <form action="/auth/sign-in">
        <button type="submit">Sign In</button></form>
      <!-- <p>Or</p> -->
      <form action="/auth/sign-up">
        <button type="submit">Sign Up</button>
        </form></div>

    <!-- </p> --></h2></div></div>
  <% } %>
</body>
</html>
