<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Good Catch Tracker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Good Catch Tracker</h1>
    <div>
      <h2>Options</h2>
      <ul>
        <li><a href="/goodCatch/new">Create a New Good Catch</a></li>
        <li><a href="/goodCatch/update">Update a Good Catch</a></li>
        <li><a href="/goodCatch/search">View Good Catches</a></li>
        <li><a href="/goodCatch/delete">Delete a Good Catch</a></li>
      </ul>
    </div>
  </body>
</html>
