<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Good Catch</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Update Good Catch</h1>
    <form id="searchForm" method="GET" action="/goodCatch/updateSearch">
        <label for="recordId">Record ID:</label>
        <input type="text" id="recordId" name="recordId">
        <br>
        <label for="creatorId">Creator ID:</label>
        <input type="text" id="creatorId" name="creatorId">
        <br>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
        <br>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <br>
        <button type="submit">Search</button>
    </form>
</body>
</html>