

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Update Good Catch</title>
</head>
<body>
    <div class="background-image">
        <div class="form-container">
            <h1>Search Results</h1>
            <% if (goodCatches.length > 0) { %>
                <ul>
                    <% goodCatches.forEach(function(gc) { %>
                        <li>
                            <strong>Site:</strong> <%= gc.site %> <br />
                            <strong>Department:</strong> <%= gc.department %> <br />
                            <a href="/goodCatch/updateForm/<%= gc._id %>">
                                <button>Update</button>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>No records found.</p>
            <% } %>
            <form action=/users/<%= user._id %>/catches">
                <button type="submit">Personal Dashboard</button>
            </form>
        </div>
    </div>
</body>
</html>
